@import '../../../themes/themes.scss';

.segmented-control-container{
    display: flex;
    width: fit-content;
    padding: 8px;
    background: $black-20;
    border-radius: 8px;

    .segment{
        padding: 8px 32px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        color: $grey-400;
        cursor: pointer;
    }
    
    .active-item{
        color: $primary-50;
        background-color: $primary-400;
    }
}